.views-isotope-flat ul.views-isotope-container {
  clear: both;
}

.views-isotope-flat div.item {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 10px;
  
  font-size: 0.9em;
  line-height: 1.3em;
  
  background: #e2e2e2; /* old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* ie */
}

.views-isotope-flat div.item:hover {
  background: #f2f6f8; /* old browsers */
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* ie */
}

/* Sort
--------------------------------------------- */
.views-isotope-flat ul.views-isotope-sort {
  float: right;
  height: 2.5em;
  margin: 0;
  padding: 0;
}

.views-isotope-flat ul.views-isotope-sort li {
  float: left;
  margin-left: 1em;
  cursor: pointer;
}

/* Sizes
--------------------------------------------- */
.views-isotope-flat div.item-medium {
  width: 180px;
  height: 180px;
}

.views-isotope-flat div.item-large {
  width: 280px;
  height: 280px;
}

/* CSS3 Animations
--------------------------------------------- */
.views-isotope-flat .isotope,
.views-isotope-flat .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.views-isotope-flat .isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.views-isotope-flat .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
